# Local Settings
.vscode

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories (build artifacts)
.webpack

# Config
.env
.env.development
.env.testing
.env.staging
.env.production

# Logs
*log

# Testing
.nyc_output
coverage
test-reports
